*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Times;
}

/* intestazione */

main,section,footer{
    width: 50%;
    margin: auto;
}

.container{
    height: 100px;
    background-color: #44A0FF;
    background-image: url("../img/pattern.png");
    background-size: 20%;
    position: relative;
}

#lgboolean{
    width: 15%;
    position: absolute;
    left: 25%;
    bottom: 0;
}

/* titolo e foto tim */

.title{
    margin-top: 10px;
    padding: 5px;
}

h1{
    font-size: 40px;
}

.title h5,h6{
    color: gray;
} 

h5>span{
    color: #44A0FF;
}

#tim1{
    width: 50%;
    height: 360px;
}

#photodesc{
    font-size: 11px;
}

/* parte centrale testo */

.maintext{
    text-align: justify;
}

.maintext span{
    background-color: yellow;
}

#list{
    margin: 10px 10px 10px 10px;
    padding: 5px;
}

/* tabella */

table{
    margin: 10px 5px 20px;
    width: 100%;
    border-collapse: collapse;
}

th{
    color: white;
    background-color: #44A0FF;
    text-align: left;
    width: 20%;
}

.bluerow{
    background-color: #B1E5F2;
}

#cellatesto{
    width: 60%;
}

/* Footer */

.imgfoot{
    width: 300px;
    height: 200px;
    margin: 10px 0 10px;
    padding: 10px;
    color: white;
    font-size: 18px;
}

#monitorr{
    background-image: url("../img/monitor.jpg");
    
}

#grafic{
    background-image: url("../img/graph.jpg");
}

